# Build folders
obj/
bin/
Release/
Debug/

# Visual Studio folder
*.vs

# User specific VS/R# files/folders
_ReSharper.Advatar/
*.user
*.suo
*.sdf
*.opensdf
*.ncb
*.docstates
version.rc

# Python files/folders
__pycache__/
*.pyc

#Unit Test files/folders
TestResult.xml
FxCopOutput.xml
NunitOutput.xml
NunitOutputAdmin.xml
NunitOutputCalculator.xml
NunitOutputGui.xml
resultsUnitTests.xml
resultsUnitTestsAdmin.xml
*.VisualState.xml
